<!-- container for form search  -->
<div class="container mb-5">
  <div class="row justify-content-center mt-5">
    <form
      class="example-form"
      [formGroup]="searchform"
      (keydown.enter)="searchPeopleResult()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="searchInput"
          id="searchInput"
          placeholder="Search By Name"
          [ngClass]="{
            error: submitted && searchform.controls.searchInput.errors
          }"
        />
      </mat-form-field>
      <div
        *ngIf="
          submitted ||
          (searchform.get('searchInput').invalid &&
            (searchform.get('searchInput').dirty ||
              searchform.get('searchInput').touched))
        "
      >
        <div
          class="validall"
          *ngIf="searchform.controls.searchInput.errors?.required"
        >
          <sup>*</sup>Please enter Name
        </div>
      </div>
      <div class="row justify-content-center" (click)="searchPeopleResult()">
        <button class="searchStyle">Search</button>
      </div>
    </form>
  </div>
</div>
<!-- container for show people cards -->
<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto my-5" *ngFor="let people of searchResult">
      <mat-card class="example-card" cdkDrag>
        <mat-card-content>
          <p class="text-center peopleName">{{ people?.name }}</p>
        </mat-card-content>
        <mat-card-content>
          <p><span>Url :</span> {{ people?.url }}</p>
        </mat-card-content>
        <mat-card-content>
          <p><span>Height :</span> {{ people?.height }}</p>
        </mat-card-content>
        <mat-card-content>
          <p><span>Homeworld:</span> {{ people?.homeworld }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
